{% extends 'base.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
{{block.super}}
    <div class="navigation">
        {% include 'main_nav.html' %}
    </div>

    <div class="container">
        <div class="main-content">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <img src="{% static 'images/logo.png' %}" alt="iGov Logo">
                    <h1 class="display-3 text-center">Innovation House</h1>
                    <p class="lead text-center">Human Centered Design</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="discontinued">
            <div class="discontinued-2019">
                <h2 class="display-3 text-center">2019</h2>
                <h3 class="text-right">Discontinued in 2019: <strong>{{ 2019_count }}</strong></h3>
                <table class="table discon-table">
                    <thead>
                        <tr>
                            <td>Make</td>
                            <td>Model Name</td>
                            <td>Model ID</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data_2019 %}
                        <tr>
                            <td>
                                {{ data.Make_Name }}
                            </td>
                            <td>
                                {{ data.Model_Name }}
                            </td>
                            <td>
                                {{ data.Make_ID }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="discontinued-2020">
                <h2 class="display-3 text-center">2020</h2>
                <h3 class="text-right">Discontinued in 2020: <strong>{{ 2020_count }}</strong></h3>
                <table class="table discon-table">
                    <thead>
                        <tr>
                            <td>Make</td>
                            <td>Model Name</td>
                            <td>Model ID</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data_2020 %}
                        <tr>
                            <td>
                                {{ data.Make_Name }}
                            </td>
                            <td>
                                {{ data.Model_Name }}
                            </td>
                            <td>
                                {{ data.Make_ID }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="{% static 'js/index.js'%}"></script>
{% endblock %}